{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="icon" href="{% static 'images/fav.png' %}" />
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}{% endblock css %}
  </head>

  <!-- Body -->
  <body>
    
    <!-- Vertical Navbar -->
    <nav>
      <ul>
        <li>
          <a class="logo" href="{% url 'home' %}">
            <img src="{% static 'images/site-icon.png' %}" alt="Img error" />
            <span class="nav-item">Secure Waypoint</span>
          </a>
        </li>
        <li>
          <a  href="{% url 'home' %}">
            <i class="fas fa-home"></i>
            <span class="nav-item">Home</span>
          </a>
        </li>
        <li>
          <a href="{% url 'flight_agenda' %}">
            <i class="fas fa-plane"></i>
            <span class="nav-item">Flight Agenda</span>
          </a>
        </li>
        <li>
          <a href="{% url 'flight_agenda' %}">
            <i class="fas fa-hotel"></i>
            <span class="nav-item">Hotel Agenda</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="nav-item">Help</span>
          </a>
        </li>
        <!-- Endof Vertical Navbar -->

        <!-- Sign in and sign out -->
        {% if user.is_authenticated %}
        <li>
          <a href="/logout" class="signin">
            <i class="fas fa-right-from-bracket"></i>
            <span class="nav-item">Logout</span>
          </a>
        </li> 
        {% else %} <!-- user not signed-in -->
        <li>
          <a href="/login" class="signin">
            <i class="fas fa-user"></i>
            <span class="nav-item">Sign In</span>
          </a>
        </li> 
        {% endif %}
         <!-- Endof Sign in and sign out -->

      </ul>
    </nav>

    <!-- Page contents -->
    {% block content %}

    {% endblock content %}
     <!-- Endof Page contents -->

  </body>
   <!-- Endof Body -->
</html>
