* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family:  sans-serif;
}

body {
  background: rgb(205, 240, 253);
}

/* VERTICAL NAVBAR POSITIONING */
nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: #fff;
  width: 90px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  z-index: 1;
  
}
.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}
nav:hover {
  width: 280px;
  transition: all 0.5s ease;
}

/* LOGO POSITIONING */
.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px 0px;
  border-radius: 5px;
}
.logo img {
  width: 45px;
  height: 45px;
  border-radius: 3px;
}
.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

/* ANCHOR TAGS */
li a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  font-weight: bold;
  display: table;
  width: 300px;
  padding: 10px;
}
li a:hover {
  background: #eee;
}

/* ICON DISPLAY */
.fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.signin {
  position: absolute;
  bottom: 0;
}