.container {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

ul {
  list-style-type: none;
}

#error_1_id_username, #error_1_id_password2{
  color: rgb(255, 119, 119);
}

#div_id_password1, #div_id_email{
  margin-top: 2rem;
}

p {
  margin-top: 1rem;
}

/* INPUT FIELD */
input {
  width: 100%;
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  appearance: none;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  transition: all 0.2s ease;
}
input:hover {
  box-shadow: 0 0 0 0 #fff inset, #007e9e 0 0 0 2px;
}
input:focus {
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, #007e9e 0 0 0 3px;
}
/* ENDOF INPUT FIELD */

/* BUTTON */
.btn-register {
  border: 0;
  width: 100%;
  margin-top: 1.5rem;
  font-size: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  background: rgb(15, 155, 248);
  box-shadow: 0px 0px 3px 5px rgb(15, 155, 248);
  text-decoration: none;
  color: #fff;
}

.btn-register:hover {
  cursor: pointer;
  background: rgb(114, 186, 253);
  box-shadow: 0px 0px 3px 5px rgb(114, 186, 253);
}
/* ENDOF BUTTON */


/* MOBILE & MAC VIEW */

/* ENDOF MOBILE & MAC VIEW */