{% extends 'app/base.html' %}
{% load static %}
{% block title %}Flight Agenda{% endblock title %}
{% block css %} <link rel="stylesheet" href="{% static 'css/flight.css' %}"> {% endblock css %}

{% block content %}

<div class="container">
    <h2>Enter flight Information</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="btn" type="submit" value="Save">
    </form>
    <hr>

    <h2>Currently Saved Flights</h2>

    
    <table>
        <tr>
            <th>Flight #</th>
            <th>Gate</th>
            <th>Origin</th>
            <th></th>
            <th>Destination</th>
            <th>Seat</th>
            <th>Date Arrival</th>
            <th></th>
            <th>Date Return</th>
            <th>Delete</th>
        </tr>

        <!-- Table data -->
        {% for flight in flight_list %}
        <tr>  
            <td>{{ flight.flight_number }}</td>
            <td>{{ flight.flight_gate }}</td>
            <td>{{ flight.flight_origin }}</td>
            <td>></td>
            <td>{{ flight.flight_destination }}</td>
            <td>{{ flight.flight_seat }}</td>
            <td>{{ flight.flight_arrival }}</td>
            <td>></td>
            <td>{{ flight.flight_return }}</td>

            <!-- Delete subission -->
            <td><form action="{% url 'delete_flight' %}" method="post">
                {% csrf_token %} 
                <input type="hidden" name="id" value="{{ flight.id }}">
                <button type="submit" name="delete" value="delete">Delete</button>
              </form>
            </td>
        </tr>
        {% endfor %}

    </table>
    
</div>
{% endblock content %}