{% extends 'app/base.html' %}
{% load static %}
{% block title %}Flight Agenda{% endblock title %}
{% block css %} <link rel="stylesheet" href="{% static 'css/flight.css' %}"> {% endblock css %}

{% block content %}

<div class="container">
    <h2>Enter flight Information</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="btn" type="submit" value="Save">
    </form>
    <hr>

    <h2>Currently Saved Flights</h2>

    
    <table class="table">
        <thead>
            <tr>
                <th>Flight #</th>
                <th>Gate</th>
                <th>Origin</th>
                <th></th> <!-- arrow column -->
                <th>Destination</th>
                <th>Seat</th>
                <th>Date Arrival</th>
                <th></th> <!-- arrow column -->
                <th>Date Return</th>
                <th>Delete</th>
            </tr>
        </thead>

        <!-- Table data -->
        {% for flight in flight_list %}
        <tbody>
            <tr>
                <td data-label="Flight #">{{ flight.flight_number }}</td>
                <td data-label="Gate #">{{ flight.flight_gate }}</td>
                <td data-label="Origin">{{ flight.flight_origin }}</td>
                <td class="blank1">></td>
                <td data-label="Destination">{{ flight.flight_destination }}</td>
                <td data-label="Seat #">{{ flight.flight_seat }}</td>
                <td data-label="Arrival">{{ flight.flight_arrival }}</td>
                <td class="blank2">></td>
                <td data-label="Return">{{ flight.flight_return }}</td>
                
                <!-- Delete model -->
                <td data-label="Delete"><form action="{% url 'delete_flight' %}" method="post">
                    {% csrf_token %} 
                    <input type="hidden" name="id" value="{{ flight.id }}">
                    <button type="submit" name="delete" value="delete">Delete</button>
                </form>
                </td>
            </tr>
        </tbody>
        {% endfor %}

    </table>
    
</div>
{% endblock content %}