{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock css %}

{% block content %}

<!-- Body -->
<body>

  <!-- Hero  -->
  <section id="hero">
    <div class="container">
      <div class="info">
        <h1>Book with us today!</h1>
        <h2>We offer the best and most efficient way to have an safe and relaxing trip.</h2>
        <a class="btn" href="{% url 'book_flight' %}">Book Now</a>
      </div>
    </div>
  </section>
  <!-- Endof Hero -->
  
</body>
<!-- Endof Body -->

{% endblock content %}
