{% extends 'app/base.html' %}
{% load static %}
{% block title %}One Agenda{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock css %}

{% block content %}

<!-- Body -->
<body>

  <!-- Hero  -->
  <section id="hero">
    <div class="container">
      <div class="info">
        <h1>Organize travel plans</h1>
        <h2>We offer the best and most efficient way to organize all your trips.</h2>
        <a class="btn" href="{% url 'flight_agenda' %}">Manage</a>
      </div>
    </div>
  </section>
  <!-- Endof Hero -->
  
</body>
<!-- Endof Body -->

{% endblock content %}
